@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$bp-large: 75rem; // 1200px
$bp-medium: 62.5rem; // 1000px
$bp-small: 53.75rem; // 860px

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
*::before,
*::after {

}

html {
    font-size: 62.5%;

    @media only screen and (max-width:$bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    padding: 1rem;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

@media only screen and (max-width:$bp-medium) {
 padding: 0;
}
    
}

.container {
    position: relative;
}

.page {
    display: grid;
    grid-template-columns: 20vw auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    background-color: #542e71;
    margin-right: 2rem;
    position: fixed;
    width: 20vw;
    overflow-y: scroll;
    top: 1rem;
    bottom: 1rem;

    @media only screen and (max-width:$bp-medium) {
        margin-right: .5rem;
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        color: #000;
        text-transform: uppercase;
        background-color: #fb3640;
    }

    &__nav {
        list-style-type: none;
        text-align: center; 
    }

    &__nav li:before {
        content: "";
        background-color: #fb3640;
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0.01, 0, 0.99) 0.2s,
          background-color 0.1s;
    }

    &__nav li:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__nav li:active::before {
        background-color: #fc5760;
    }

    &__nav li {
        padding: 1.5rem 0;
        display: inline-block;
        cursor: pointer;
        width: 100%;
        position: relative;
        margin-bottom: .4rem;
        z-index: 5;

        &:not(:last-child) {
            border-bottom: 1px solid #000;
        }
    }

    &__nav li a:link,
    &__nav li a:visited{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.5rem;
        display: block;
    padding: .5rem 3rem;
    position: relative;
    z-index: 10;
    }
    
}

.main-section {
    border-bottom: 1px solid rgb(156, 156, 156);
    padding: 2rem 0;
}

.main__doc {
    padding-left: 15px;
    
    grid-column-start: 2;
}

.main-section header {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem 0;
    font-weight: 300;
    color: #000;
}

.main-section p {
    font-weight: 500;
    padding: 1rem;
    letter-spacing: .5px;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.main-section ul {
    padding: 0 4rem ;
    font-weight: 400;
}

.main-section ul li {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.inner {
    margin: 1rem 0;
}

.mdn:link,
.mdn:visited {
    text-transform: uppercase;
    text-decoration: none;
    color:#fb3640;
    transition: all .2s ease;
}

.mdn:hover {
    color:#fc5760;
}

.btn:link,
.btn:visited {
    position: fixed;
    bottom:1rem;
    right:2rem;
}

.fa-arrow-circle-up {
    color: #542e71;
    border-radius: 10rem; 
    transition: all .2s ease-out;
}

.fa-arrow-circle-up:hover {
    color:#fb3640;
    transform: scale(1.2) translateY(-2px);
}

.btn-user:link,
.btn-user:visited {
    position: absolute;
    top: 1rem;
    right: 2rem;
    animation: btnEntrance .4s linear;
    position: fixed;
    color:#fc5760;
    transition: all .3s;
}

.fa-user-cog {
    
}

.btn-user:hover {
    color:#ff848a;
    transform: scale(.95);
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(180deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ffe259, #ffa751);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: all .5s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, hsla(50, 80%, 60%, 0.796), rgba(255, 168, 81, 0.801));
  }